<div class="container">
  <div class="details">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" formControlName="email">
          <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
            <div *ngIf="fc.email.errors.required" class="error">Should not be empty !</div>

            <div *ngIf="fc.email.errors.email">Enter a valid email address</div>
          </div>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" formControlName="password">

          <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
            <div *ngIf="fc.password.errors.required" class="error">Should not be empty !</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>


<form>



</form>
